.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field-container {
    margin-bottom: 10px;
}

form {

    padding: 10px;
    input {
        padding: 5px;
        width: 300px;
    }
    textarea {
        padding: 5px;
        width: 300px;
    }
    
}
button {
    background-color: rgb(217, 217, 255);
    border: 1px solid grey;
    border-radius:50px;
    padding: 10px 15px
}